
*{
    margin: 0px;
    padding: 0px;
}
body{
    background: url('../images/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
html {
    font-family: "FontinSmallCaps";
    color: #a38d6d;
    line-height: 1.45;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
.top{
    height: 197px;
}
/* .content{
    background-color: blue;
} */
