<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory - Path of Exile</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/basic/favicon-32x32.png')}}"
        type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/trade.css')}}">
    <script src="{{ url_for('static', filename='js/scripts.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .profile-link.challenges-completed.Azmeri.completed11::before {
            background-position: {{ userdata['lvl_offset'][0]}}px {{ userdata['lvl_offset'][1] }}px}
    </style>
</head>

<body>
    <div class="top">
        <div id="statusBar">
            <div class="statusBarCenter"></div>
            <div class="statusBarRight"></div>
            <div class="row1"><span class="statusItem loggedInStatus">Logged in as <span
                        class="profile-link challenges-completed Azmeri completed11"><a
                            href="https://www.pathofexile.com/account/view-profile/{{ userdata['name'] }}"
                            id="username">{{ userdata['name'] }}</a></span></span>
                <a href="https://www.pathofexile.com/shop/purchase" class="statusItem purchaseLink"><span
                        class="coins"><span class="amount shopCurrentCoinValue account">{{ userdata['coins']
                            }}</span></span><span class="pointsIcon"></span></a>
            </div>
            <script>
                // Get the 'name' from the userdata object
                var userName = "{{ userdata['name'] }}";

                // Check if the username is 'unlogged'
                if (userName === 'unlogged') {
                    // Redirect to YouTube
                    window.location.href = "https://www.pathofexile.com/login";
                }
            </script>
            <div class="row2">
                <a class="logout statusItem" href="https://www.pathofexile.com/logout">Log Out</a>
                <a class="statusItem privateMessageStatus hasMessages"
                    href="https://www.pathofexile.com/private-messages/inbox">{{ userdata['messages'] }}
                    Messages</a><a class="statusItem" target="_blank" href="https://www.pathofexile.com/support">Contact
                    Support</a>
            </div>
        </div>
        <div class="logo">
            <a href="https://www.pathofexile.com/">
                <img src="{{ url_for('static', filename='images/basic/aff.png')}}" alt="" srcset="">
            </a>
        </div>
    </div>
    <div id="trade">
        <div class="top">
            <div class="search-panel">
                <div class="search-bar">
                    <div class="search-left">
                        <div tabindex="0" class="multiselect search-select" id="search-container" style="width: 100%; z-index: 99;">
                            <div class="multiselect__select"></div>
                            <div class="multiselect__tags">
                                <div class="multiselect__tags-wrap" style="display: none;">
                                </div>
                                <div class="multiselect__spinner" style="display: none;"></div>
                                <input name="" type="text" autocomplete="off" placeholder="Search Items..."
                                    class="multiselect__input" id="item-input">
                            </div>
                            <div class="multiselect__content-wrapper" id="item-list"
                                style="max-height: 300px; display: none;">
                                <ul class="multiselect__content" style="display: inline-block;" id="search-item-id">

                                    {% for item in items %}
                                    <li class="multiselect__element"><span data-select="" data-selected=""
                                            data-deselect="" class="multiselect__option"><span class="unique">{{ item
                                                }}</span></span>
                                    </li>
                                    {% endfor %}
                                    <li id="item-not-found" style="display: none;"><span
                                            class="multiselect__option"><span>No
                                                elements found. Consider
                                                changing the search
                                                query.</span></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="search-right">
                        <div tabindex="0" class="multiselect status-select" id="league-container"
                            style="width: 40%; z-index: 3;">
                            <div class="multiselect__select"></div>
                            <div class="multiselect__tags">
                                <div class="multiselect__tags-wrap" style="display: none;"></div>
                                <div class="multiselect__spinner" style="display: none;"></div>
                                <span class="multiselect__single" id="leagueText">Affliction</span>
                            </div>
                            <div class="multiselect__content-wrapper" id="league-options"
                                style="max-height: 300px; display: none;">
                                <ul class="multiselect__content" style="display: inline-block;">

                                    <li class="multiselect__element"><span data-select="" data-selected=""
                                            data-deselect=""
                                            class="multiselect__option  multiselect__option--selected"><span>Affliction</span></span>
                                    </li>
                                    {% for league in leagues %}
                                    <li class="multiselect__element"><span data-select="" data-selected=""
                                            data-deselect="" class="multiselect__option"><span>{{ league }}
                                            </span></span>
                                        {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="filter filter-property" style="width: 32%; transform: translateX(-10%);">
                            <span class="filter-body">
                                <div class="filter-title">
                                </div>
                                <span class="sep"></span> <input type="number" placeholder="min price" maxlength="4"
                                    id="min-price" pattern="[0-9]+(\.[0-9]+)?" inputmode="numeric" step="any"
                                    class="form-control minmax" style="height: 32px; transform: translateY(-1px);">
                                <span class="sep"></span> <input type="number" placeholder="max price" maxlength="4"
                                    id="max-price" pattern="[0-9]+(\.[0-9]+)?" inputmode="numeric" step="any"
                                    class="form-control minmax" style="height: 32px; transform: translateY(-1px);">
                                <span class="sep"></span>
                            </span>
                        </div>
                        <div tabindex="0" class="multiselect status-select" id="currency-container"
                            style="width: 28%; transform: translateX(-4%); z-index: 2;">
                            <div class="multiselect__select"></div>
                            <div class="multiselect__tags">
                                <div class="multiselect__tags-wrap" style="display: none;"></div>
                                <div class="multiselect__spinner" style="display: none;"></div>
                                <span class="multiselect__single" id="select-currency"><img
                                        src="{{ url_for('static', filename='images/orbs/orb_chaos.png')}}"
                                        height="25px"> Chaos Orb</span>
                            </div>
                            <div class="multiselect__content-wrapper" id="currency-options"
                                style="max-height: 300px; display: none;">
                                <ul class="multiselect__content" style="display: inline-block;">

                                    <li class="multiselect__element"><span data-select="" data-selected=""
                                            data-deselect=""
                                            class="multiselect__option  multiselect__option--selected"><span><img
                                                    src="{{ url_for('static', filename='images/orbs/orb_chaos.png')}}"
                                                    height="25px"> Chaos Orb</span></span>
                                    </li>
                                    {% for currency in currencies %}
                                    <li class="multiselect__element"><span data-select="" data-selected=""
                                            data-deselect="" class="multiselect__option"><span><img
                                                    src="{{ url_for('static', filename=currency[1])}}" height="25px"> {{ currency[0] }}
                                            </span></span>
                                        {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>







                <div class="search-bar search-advanced search-advanced-hidden" id="addMenu">
                    <div class="search-advanced-items">
                        <div class="search-advanced-pane blue">
                            <div class="filter-group expanded">
                                <div class="filter-group-header">
                                    <div class="filter"><span class="input-group-btn"><button
                                                class="btn toggle-btn"></button></span> <span class="filter-body"><span
                                                class="filter-title filter-title-clickable">
                                                <center><span></span></center>
                                            </span> <span class="input-group-btn" style="display: none;"><button
                                                    title="Clear Filter Group"
                                                    class="btn remove-btn"></button></span></span></div>
                                </div>
                                <span class="sep"></span>
                                <div class="filter filter-property spaced"
                                    style="width: 95%; transform: translateX(5%); z-index: 50;">

                                    <div tabindex="0" class="multiselect search-select" id="search-container2"
                                        style="width: 100%;">
                                        <div class="multiselect__select"></div>
                                        <div class="multiselect__tags">
                                            <div class="multiselect__tags-wrap" style="display: none;">
                                            </div>
                                            <div class="multiselect__spinner" style="display: none;"></div>
                                            <input name="" type="text" autocomplete="off" placeholder="Item Name"
                                                class="multiselect__input" id="item-input2">
                                        </div>
                                        <div class="multiselect__content-wrapper" id="item-list2"
                                            style="max-height: 300px; display: none;">
                                            <ul class="multiselect__content" style="display: inline-block;" id="add-item-id">

                                                {% for item in items %}
                                                <li class="multiselect__element"><span data-select="" data-selected=""
                                                        data-deselect="" class="multiselect__option"><span
                                                            class="unique">{{ item
                                                            }}</span></span>
                                                </li>
                                                {% endfor %}
                                                <li id="item-not-found2" style="display: none;"><span
                                                        class="multiselect__option"><span>No
                                                            elements found. Consider
                                                            changing the search
                                                            query.</span></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="filter filter-property spaced">
                                    <span class="filter-body">
                                        <div class="filter-title" style="transform: translateX(16%);">
                                            Price:

                                        </div> <span class="sep"></span> <input type="number" maxlength="4"
                                            pattern="[0-9.,]*" inputmode="numeric" step="any"
                                            class="form-control minmax" style="min-width: 12vw;" id="additemnumer">
                                    </span>
                                </div>
                                <div class="filter filter-property spaced"> <span class="filter-body">
                                        <div class="filter-title">
                                            Currency:

                                        </div> <span class="sep"></span>
                                        <div tabindex="-1" class="multiselect filter-select" style="width:12vw; user-select: none;" id="currency-container2">
                                            <div class="multiselect__select"></div>
                                            <div class="multiselect__tags">
                                                <div class="multiselect__tags-wrap" style="display: none;"></div>

                                                <div class="multiselect__spinner" style="display: none;"></div> <span
                                                    class="multiselect__single" id="select-currency2"><img
                                                        src="{{ url_for('static', filename='images/orbs/orb_chaos.png')}}"
                                                        height="25px"> Chaos Orb</span>
                                            </div>
                                            <div class="multiselect__content-wrapper" id="currency-options2"
                                style="max-height: 300px; display: none;">
                                <ul class="multiselect__content" style="display: inline-block;">

                                    <li class="multiselect__element"><span data-select="" data-selected=""
                                            data-deselect=""
                                            class="multiselect__option  multiselect__option--selected"><span><img
                                                    src="{{ url_for('static', filename='images/orbs/orb_chaos.png')}}"
                                                    height="25px"> Chaos Orb</span></span>
                                    </li>
                                    {% for currency in currencies %}
                                    <li class="multiselect__element"><span data-select="" data-selected=""
                                            data-deselect="" class="multiselect__option"><span><img
                                                    src="{{ url_for('static', filename=currency[1])}}" height="25px"> {{ currency[0] }}
                                            </span></span>
                                        {% endfor %}
                                </ul>
                            </div>
                                        </div>
                                    </span>
                                </div>
                                <div class="filter filter-property spaced"> <span class="filter-body">
                                        <div class="filter-title" style="transform: translateX(16%);">
                                            League:

                                        </div> <span class="sep"></span>
                                        <div tabindex="-1" class="multiselect filter-select" style="width:12vw; user-select: none;" id="league-container2">
                                            <div class="multiselect__select"></div>
                                            <div class="multiselect__tags">
                                                <div class="multiselect__tags-wrap" style="display: none;"></div>

                                                <div class="multiselect__spinner" style="display: none;"></div> <span
                                                    class="multiselect__single" id="leagueText2">Affliction</span>
                                            </div>
                                            <div class="multiselect__content-wrapper" id="league-options2"
                                                style="max-height: 300px; display: none;">
                                                <ul class="multiselect__content" id="addformleague" style="display: inline-block;">

                                                    <li class="multiselect__element"><span data-select=""
                                                            data-selected="" data-deselect=""
                                                            class="multiselect__option  multiselect__option--selected"><span>Affliction</span></span>
                                                    </li>
                                                    {% for league in leagues %}
                                                    <li class="multiselect__element">
                                                        <span data-select=""
                                                            data-selected="" data-deselect=""
                                                            class="multiselect__option">
                                                            <span>{{ league }}</span>
                                                        </span>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    
                    <div class="search-advanced-pane brown">
                        <div class="filter-group-header">
                            <div class="filter"><span class="input-group-btn"><button
                                        class="btn toggle-btn"></button></span> <span class="filter-body"><span
                                        class="filter-title filter-title-clickable" style="border-bottom: 1px solid #465260;">
                                        <center><span></span></center>
                                    </span> <span class="input-group-btn" style="display: none;"><button
                                            title="Clear Filter Group" class="btn remove-btn"></button></span></span>
                            </div>
                        </div>
                        
                        <div style="flex-direction: row; display: flex; transform: translateX(5%);">
                            <div class="image-container" id="container1">
                                <input type="file" class="file-input" id="fileInput1" accept="image/*" onchange="displayImage(this, 0)">
                                <span class="pick-img-text">Item image</span>
                            </div>
                            <div class="image-container" id="container2">
                                <input type="file" class="file-input" id="fileInput2" accept="image/*" onchange="displayImage(this, 1)">
                                <span class="pick-img-text">Description image</span>
                                </div>
                        </div>
                    </div>
                </div>
                </div>

                <div class="controls" style="z-index: 1;">
                    <div class="controls-left"><button type="button" class="btn livesearch-btn"
                            style="display: none;"><span class="plus"></span> <span>
                                Search</span></button></div>
                    <div class="controls-center"><button type="button" class="btn search-btn"
                            id="search"><span id="searchText">Search</span></button>
                    </div>
                    <div class="controls-right"><button type="button" class="btn clear-btn"><span id="clearText">Clear</span></button>
                        <button type="button" class="btn toggle-search-btn"><span alt="Toggle"
                                class="chevron collapsed"></span>
                            <span id="additemtext">Add Item</span></button>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock %}
</body>

</html>